* {
    outline: 1px solid tomato--;
}

.Header {
    position: sticky;
    top: 0;
    line-height: 80px;
    z-index: 999;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.Header:hover {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.Header.on {
    line-height: 80px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.Header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.Header_wrap .Gnb {
    margin: 0 0 0 189px;

}

.Header_wrap .Gnb>ul {
    display: flex;
    gap: 40.5px;
    font-weight: 600;
    font-size: 20px;
}

.Header_wrap .Gnb>ul>li {
    position: relative;
}

.Header_wrap .Gnb>ul>li .sub {
    position: absolute;
    left: 50%;
    top: 60px;
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    line-height: 40px;
    transform: translate(-50%, 0);
    z-index: 999;

    white-space: nowrap;
    font-size: 16px;
}

.Header_wrap .Gnb:hover>ul>li .sub {
    height: 200px;
}

.Header .Gnb::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;

    transition: 0.5s;
    height: 0;
}

.Header .Gnb:hover::after {
    height: 200px;
}

.Header_wrap .Util {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 0 auto;
}

.Header_wrap .Util i {
    font-weight: 500;
    margin: 0 8px 0 0;
}

.Header_wrap h1 {
    font-size: 0;
    text-shadow: 1px 1px 2px #fff;
}

.MainVisual .title {
    text-shadow: 1px 1px 2px #fff;
}

.MainVisual .title span {
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px #fff;

}

.MainVisual .title h2 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;

}


.MainVisual .title p {
    font-size: 15px;
    color: #fff;
}

.MainVisual .MainSlide .itm {
    position: relative;
    height: 990px;
}

.MainVisual .MainSlide .itm {
    background: url(../images/MainVisual.jpg) no-repeat center center/cover;
}

.MainVisual .scroll {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 0;
    width: 32px;
    height: 48px;
    border: 2px solid #e60013;
    border-radius: 16px;
}

.MainVisual .scroll:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 10px;
    background: #e60013;
    border-radius: 2px;

    animation: wheel 0.5s infinite;
}

@Keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 25%);
    }
}

.MainVisual .title {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

}

.MainVisual .title span {
    display: block;
    margin: 0 0 12px 0;
    text-align: center;
}

.MainVisual .title h2 {
    display: block;
    margin: 0 0 36px 0;
    text-align: center;
}

.MainVisual .title p {
    display: block;
    text-align: center;
    line-height: 20px;
}

.MainContent .inner {
    display: flex;
}

.MainContent .inner>* {
    flex: 1;
    padding: 40px 0;
}

.MainContent h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}



.MainContent .img_box {
    overflow: hidden;
    text-align: center;
}



.MainContent .order {
    text-align: center;
}

.MainContent .order a {
    display: inline-block;
    border: 1px solid #e60013;
    padding: 12px;
    margin: 0 0 36px 0;
    background: #e60013;
    color: #fff;
}

.left {
    background: #fff;
}

.right {
    background: #f9f9f9;
}

.MainStory {
    position: relative;
    background: url(../images/MainStory.jpg) no-repeat center center/cover;
}


.MainStory .MainStoryContent {
    display: flex;
    gap: 30px;
}

.MainStory .MainStoryContent>* {
    flex: 1;
    background: #fff;
    padding: 50px;
}



.MainStory h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 12px 0;

}

.MainStory p {
    line-height: 20px;
    margin: 0 0 40px 0;
}

.MainStory .util {
    font-size: 60px;
    text-align: right;
    color: #e60013;

}

.MainNews .MainNewsContent {
    display: flex;
    gap: 30px;
}

.MainNews .MainNewsContent>* {
    flex: 1;
    overflow: hidden;
    background: #f9f9f9;
    padding: 0 0 40px 0;
}

.MainNews .MainNewsContent .mnc .img_mnc {
    margin: 0 0 24px 0;
}

.MainNews .MainNewsContent .mnc .img_mnc img {
    width: 100%;
}

.MainNews .MainNewsContent .mnc h3 {
    display: inline-block;
    background: #e60013;
    font-size: 12px;
    color: #fff;
    padding: 8px;
    margin: 0 0 16px 12px;
}

.MainNews .MainNewsContent .mnc strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 12px;
    margin: 0 0 24px 0;
}

.MainNews .MainNewsContent .mnc span {
    display: block;
    font-size: 16px;
    padding: 0 12px;
    margin: 0 0 40px 0;
    color: #acb6bd;
}

.MainNews .MainNewsContent .mnc .link {
    padding: 0 12px;
}

.MainNews .MainNewsContent .mnc a {
    display: inline-block;
    border: 1px solid #e60013;
    color: #e60013;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
}

.MainNews .MainNewsContent .mnc a:hover {
    transition: calc(1);
    background: #e60013;
    color: #fff;
}

.Footer {
    padding: 40px;
    background: #9b0000;
}

.Footer .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.Footer .footertop {
    display: flex;

    /* justify-content: space-between; */

}


.Footer .footertop ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    color: #fff;
    margin: 0 0 24px 0;
    line-height: 24px;
}

.Footer .footertop ul li {
    position: relative;
}

.Footer .footertop ul li~li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -15px;
    width: 1px;
    height: 8px;
    background: #f9f9f9;
}


.footermain .footertop ul .important {
    font-weight: 700;
    color: #fff0a4;
}

.Footer span {
    margin: 0 24px 0 0;
}

.Footer .footermid ul {
    margin: 0 0 16px 0;
}

.Footer .footermid ul li {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin: 0 20px 12px 0;
}



.Footer .footerbottom a i {
    padding: 8px;
    background: #fff;
    border-radius: 50%;
    color: #9b0000;
    font-size: 20px;
    margin: 0 16px 0 0;

}