/* * {
    outline: 1px solid tomato;
} */

.Header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 80px;
}

.MainVisual .title span {
    font-size: 24px;
    color: #fff;
}

.MainVisual .title h2 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.MainVisual .title p {
    font-size: 15px;
    color: #fff;
}


.Header_wrap .Gnb {
    margin: 0 0 0 300px;
    
}

.Header_wrap .Gnb>ul {
    display: flex;
    gap: 30px;
    font-weight: 600;
    font-size: 20px;
}

.Header_wrap .Util i {
    display: inline-block;
}


.Header_wrap .Util {
    margin: 0 0 0 auto;
}


.Header_wrap h1 {
    font-size: 0;
}

.MainVisual .MainSlide .itm {
    position: relative;
    height: 900px;
}

.MainVisual .MainSlide .itm {
    background: url(../images/MainVisual.jpg) no-repeat center center/cover;
}

.MainVisual .title {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

}

.MainVisual .title span {
    display: block;
    margin: 0 0 12px 0;
    text-align: center;
}

.MainVisual .title h2 {
    display: block;
    margin: 0 0 36px 0;
    text-align: center;
}

.MainVisual .title p {
    display: block;
    text-align: center;
    line-height: 20px;
}

.MainContent {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;

}

.MainContent .MainCont h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 24px 0;
    text-align: center;
}



.MainContent .MainCont .img_box{
    overflow: hidden;
}

.MainContent .MainCont .img_box img {
    width: 585px;
    object-fit: cover;
}


.MainContent .MainCont .order {
    text-align: center;
}

.MainContent .MainCont a {
    display: inline-block;
    border: 1px solid #e60013;
    padding: 12px;
    background: #e60013;
    color: #fff;
}

.left {
    width: 50%;
    background: #fff;
}
.right {
    width: 50%;
    background: #dfdfdf;
}

.MainStory {
    position: relative;
    height: 600px;
    background: url(../images/MainStory.jpg)no-repeat fixed center center/cover;
}


.MainStory .MainStoryContent {
    display: flex;
    gap: 30px;
}

.MainStory .MainStoryContent>* {
    flex:1;
    background: #fff;
    padding: 50px;
}


.MainStory .inner {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    max-width: 1200px;
    width: 100%;
}


.MainStory h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 12px 0;

}

.MainStory p {
    line-height: 20px;
}

.MainStory .util {
    font-size: 60px;
    text-align: right;
    color: #e60013;
    
}

.MainNews {
    max-width: 1200px;
    margin: 0 auto;
}

.MainNews .MainNewsContent {
    display: flex;
    gap: 30px;
} 

.MainNews .MainNewsContent>* {
    flex: 1;
    overflow: hidden;
    background: #f9f9f9;
    padding: 0 0 80px 0;
}

.MainNews .MainNewsContent .mnc .img_mnc {
    margin: 0 0 24px 0;
}

.MainNews .MainNewsContent .mnc h3 {
    display: inline-block;
    background: #e60013;
    font-size: 12px;
    color: #fff;
    padding: 8px;
    margin: 0 0 16px 12px;
}

.MainNews .MainNewsContent .mnc strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 12px;
    margin: 0 0 24px 0;
}

.MainNews .MainNewsContent .mnc span {
    display: block;
    font-size: 16px;
    padding: 0 12px;
    margin: 0 0 120px 0;
    color: #acb6bd;
}

.MainNews .MainNewsContent .mnc .link {
    text-align: center;
}

.MainNews .MainNewsContent .mnc a {
    display: inline-block;
    border: 1px solid #e60013;
    color: #e60013;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
}

.MainNews .MainNewsContent .mnc a:hover {
    transition: calc(1);
    background: #e60013;
    color: #fff;
}

.Footer {
    background: #9b0000;
}

.Footer .inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.Footer .inner .footermid>ul {
    display: flex;
    gap: 30px;
}

